
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-wWw {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-5pou-Z2X {
    width: 100%;
    height: 89.6559rem;
    position: relative;
    background-color: #f4f4f4;
    flex-shrink: 0;
    margin-bottom: 8.4482rem;

    .solo-beats-npP {
      font-size: 21.2rem;
      line-height: 1.5;
      white-space: nowrap;
      height: 31.8rem;
      position: absolute;
      top: 29.3079rem;
      font-weight: 900;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      width: 130rem;
      left: 6.7rem;
    }
    .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-CdD {
      width: 61.5rem;
      position: absolute;
      left: 8.0614rem;
      top: 41.8864rem;
      font-size: 2rem;
      line-height: 1.8;
      height: 14.4rem;
      font-weight: 400;
      color: #333333;
      font-family: Poppins, 'Source Sans Pro';
    }
    .rectangle-4-D2X {
      background-color: #333333;
      width: 7rem;
      height: 89.6559rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .rectangle-13-7dh {
      background-color: #ffffff;
      width: 27.2061rem;
      height: 89.6559rem;
      position: absolute;
      left: 78.2939rem;
      top: 0;
    }
    .highest-qualitywireless-headphone-TSf {
      width: 49.3rem;
      height: 14.4rem;
      left: 8.0614rem;
      font-size: 4.8rem;
      line-height: 1.5;
      color: #333333;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      top: 24.0079rem;
      font-weight: 600;
    }
    .buy-now-vLF {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 23.3rem;
      height: 4.2rem;
      left: 8.0614rem;
      font-weight: 600;
      line-height: 1.5;
      color: #333333;
      position: absolute;
      top: 60.2701rem;
      font-size: 2.8rem;
    }
    .clean-beats-bhH {
      position: absolute;
      left: 8.7114rem;
      top: 1.5511rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2575;
      width: 23.4rem;
      height: 6.1rem;
      color: #000000;
      font-family: Autography, 'Source Sans Pro';
      white-space: nowrap;
    }
    .follow-us-WZM {
      top: 46.0864rem;
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 1.7rem;
      font-weight: 400;
      line-height: 1.8;
      color: #ffffff;
      width: 3.5rem;
      height: 10.8rem;
    }
    .line-5-bqh {
      position: absolute;
      left: 3.5rem;
      top: 56.2749rem;
      background-color: #ffffff;
      width: 0rem;
      height: 0.1rem;
    }
    .logos-facebook-fill-XjM {
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 2.3rem;
      top: 42.1079rem;
      object-fit: contain;
    }
    .logos-twitter-fill-2w1 {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 2.3rem;
      top: 38.7079rem;
      object-fit: contain;
      vertical-align: top;
    }
    .logos-pinterest-fill-kMD {
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 2.3rem;
      top: 35.3079rem;
      object-fit: contain;
    }
    .logos-instagram-fill-TWX {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 2.3rem;
      top: 31.9079rem;
      object-fit: contain;
      vertical-align: top;
    }
    .logos-linkedin-box-fill-ZpT {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 2.3rem;
      top: 28.5079rem;
      object-fit: contain;
      vertical-align: top;
    }
    .headphone-1-HEf {
      object-fit: cover;
      vertical-align: top;
      width: 56.4rem;
      height: 54.4rem;
      position: absolute;
      left: 72.2899rem;
      top: 14.9079rem;
    }
    .bar-1-QKH {
      position: absolute;
      left: 128.6899rem;
      top: 4.6902rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.8rem;
      height: 1.1rem;
    }
  }
  .latest-features-Kh9 {
    flex-shrink: 0;
    margin-right: 111.5576rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8;
    color: #333333;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-bqyb-3t3 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.217rem 8.1rem 13.445rem 8rem;

    .auto-group-7mcb-ASs {
      width: calc(100% - 0.0212rem);
      height: 12.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 5.834rem 0.021rem;

      .design-and-built-with-latest-trending-future-technology-sMH {
        flex-shrink: 0;
        margin-right: 17.8788rem;
        max-width: 88.4rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.3333333333;
        color: #333333;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-5bwo-ZV1 {
        height: calc(100% - 5.6rem);
        font-weight: 600;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 21.6rem;
        line-height: 1.5;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.2rem #333333;
        margin: 2.331rem 0rem 3.269rem 0rem;
        font-size: 2rem;
        color: #333333;
      }
    }
    .auto-group-sjrk-C2B {
      margin: 0rem 0.602rem 4.391rem 0rem;
      height: 20.7142rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-3-WHm {
        margin-right: 2.9117rem;
        width: 40.5984rem;
        height: 100%;
        flex-shrink: 0;

        .wireless-connection-r6j {
          margin-bottom: 2.8471rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-wdy {
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 2.267rem 0.098rem;
          max-width: 40.5rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .auto-group-dkcx-yqZ {
          align-items: center;
          margin: 0rem 28.7rem 0rem 0.098rem;
          width: calc(100% - 28.7984rem);
          display: flex;

          .learn-more-Wab {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #333333;
          }
          .systems-arrow-right-line-k7Z {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-2-fVR {
        margin-right: 2.5915rem;
        width: 40.5984rem;
        height: 100%;
        flex-shrink: 0;

        .qualitative-sound-oLj {
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.8471rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-Kps {
          margin: 0rem 0rem 2.267rem 0.098rem;
          max-width: 40.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-qdxd-kQP {
          margin: 0rem 28.7rem 0rem 0.098rem;
          width: calc(100% - 28.7984rem);
          display: flex;
          align-items: center;

          .learn-more-sV1 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
          }
          .systems-arrow-right-line-odZ {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-1-XJf {
        width: 40.5984rem;
        height: 100%;
        flex-shrink: 0;

        .beautiful-and-modern-design-Gn3 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.8471rem;
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-oX5 {
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 2.267rem 0.098rem;
          max-width: 40.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #333333;
        }
        .auto-group-vy8p-EcP {
          margin: 0rem 28.7rem 0rem 0.098rem;
          width: calc(100% - 28.7984rem);
          display: flex;
          align-items: center;

          .learn-more-xHV {
            font-weight: 600;
            line-height: 1.5;
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .systems-arrow-right-line-VoD {
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
          }
        }
      }
    }
    .auto-group-ncp9-Rwm {
      margin-right: 0.6016rem;
      height: 20.7142rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-4-yTV {
        height: 100%;
        flex-shrink: 0;
        margin-right: 2.9117rem;
        width: 40.5984rem;

        .high-end-sound-ify {
          margin-bottom: 2.8471rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-Ffu {
          margin: 0rem 0rem 2.267rem 0.098rem;
          max-width: 40.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-fgco-KQs {
          margin: 0rem 28.7rem 0rem 0.098rem;
          width: calc(100% - 28.7984rem);
          display: flex;
          align-items: center;

          .learn-more-3rf {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
          }
          .systems-arrow-right-line-o59 {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-5-ihu {
        margin-right: 2.5915rem;
        width: 40.5984rem;
        height: 100%;
        flex-shrink: 0;

        .bluetooth-fd9 {
          margin-bottom: 2.8471rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-ojM {
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 2.267rem 0.098rem;
          max-width: 40.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-fzhh-TJ7 {
          display: flex;
          align-items: center;
          margin: 0rem 28.7rem 0rem 0.098rem;
          width: calc(100% - 28.7984rem);

          .learn-more-Bju {
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
          .systems-arrow-right-line-89M {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-6-TBd {
        width: 40.5984rem;
        height: 100%;
        flex-shrink: 0;

        .waterproof-dust-tight-QMm {
          margin-bottom: 2.8471rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-YD5 {
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 2.267rem 0.098rem;
          max-width: 40.5rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .auto-group-tbuh-16f {
          align-items: center;
          margin: 0rem 28.7rem 0rem 0.098rem;
          width: calc(100% - 28.7984rem);
          display: flex;

          .learn-more-vzK {
            line-height: 1.5;
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .systems-arrow-right-line-gCo {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-utwv-oHR {
    height: 100.8rem;
    position: relative;
    background-color: #333333;
    flex-shrink: 0;
    margin-bottom: 8.5302rem;
    width: 100%;

    .view-specification-XDR {
      width: 19.7rem;
      height: 3.6rem;
      left: 62.7541rem;
      font-weight: 400;
      line-height: 1.8;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 8.5684rem;
      font-size: 2rem;
      color: #a1a0a1;
    }
    .name-solo-beat-ab12hb-Drw {
      height: 3.6rem;
      font-size: 2.4rem;
      color: #f4f4f4;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      width: 29.8rem;
      left: 73.1947rem;
      top: 29.346rem;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      position: absolute;

      .name-solo-beat-ab12hb-Drw-sub-0 {
      }
      .name-solo-beat-ab12hb-Drw-sub-1 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-hgby-LCo {
      display: flex;
      align-items: center;
      width: 106.6106rem;
      height: 41.4rem;
      position: absolute;
      left: 7.4894rem;
      top: 35.646rem;

      .specification-1-ejH {
        flex-shrink: 0;
        margin: 0.1rem 12.305rem 0rem 0rem;
        width: 53.4rem;
        height: 36.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-f6wb-M7u {
        height: 100%;
        flex-shrink: 0;
        width: 33.7053rem;

        .auto-group-r7a7-VV1 {
          box-sizing: border-box;
          padding-bottom: 2.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .weight-231-g-dr7 {
            font-size: 2.4rem;
            color: #f4f4f4;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.7rem;
            line-height: 1.5;
            display: flex;
            align-items: baseline;
            font-weight: 400;

            .weight-231-g-dr7-sub-0 {
            }
            .weight-231-g-dr7-sub-1 {
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
            }
            .weight-231-g-dr7-sub-2 {
            }
            .weight-231-g-dr7-sub-3 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.5;
              color: #f4f4f4;
            }
          }
          .height-72-cm-Jqm {
            font-size: 2.4rem;
            align-items: baseline;
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            line-height: 1.5;
            color: #f4f4f4;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;

            .height-72-cm-Jqm-sub-0 {
            }
            .height-72-cm-Jqm-sub-1 {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .height-72-cm-Jqm-sub-2 {
            }
            .height-72-cm-Jqm-sub-3 {
              line-height: 1.5;
              color: #f4f4f4;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
            }
          }
        }
        .auto-group-blvj-FPd {
          margin-bottom: 2.7rem;
          width: 100%;
          height: 3.6rem;
          display: flex;
          align-items: center;

          .available-color--bTV {
            font-size: 2.4rem;
            line-height: 1.5;
            color: #f4f4f4;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            font-weight: 400;
            display: flex;

            .available-color--bTV-sub-0 {
            }
            .available-color--bTV-sub-1 {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .available-color--bTV-sub-2 {
            }
          }
          .auto-group-4r8p-zVd {
            padding: 0.6rem 0rem 0.6rem 0.405rem;
            height: 100%;
            display: flex;
            column-gap: 1.2rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .ellipse-1-gtF {
              background-color: #a53c43;
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
            }
            .ellipse-2-oxs {
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              background-color: #192861;
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
            }
            .ellipse-3-919 {
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              background-color: #c58a84;
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
            }
            .ellipse-4-4to {
              height: 2.4rem;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              background-color: #ecc305;
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 2.4rem;
            }
          }
        }
        .type-wireless-bluetooth-CVD {
          line-height: 1.5;
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          margin-bottom: 2.7rem;
          color: #f4f4f4;

          .type-wireless-bluetooth-CVD-sub-0 {
          }
          .type-wireless-bluetooth-CVD-sub-1 {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .battery-life-2-hour-AaT {
          display: flex;
          align-items: baseline;
          margin-bottom: 2.7rem;
          font-size: 2.4rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.5;
          color: #f4f4f4;

          .battery-life-2-hour-AaT-sub-0 {
          }
          .battery-life-2-hour-AaT-sub-1 {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .battery-100amh-ATy {
          margin-bottom: 2.7rem;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.5;
          color: #f4f4f4;
          display: flex;
          align-items: baseline;

          .battery-100amh-ATy-sub-0 {
          }
          .battery-100amh-ATy-sub-1 {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .dimensions-21-x-4-x-27-cm-mCs {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f4f4f4;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;

          .dimensions-21-x-4-x-27-cm-mCs-sub-0 {
          }
          .dimensions-21-x-4-x-27-cm-mCs-sub-1 {
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.4rem;
          }
        }
      }
      .auto-group-dik1-NCf {
        box-sizing: border-box;
        padding: 13.2rem 0rem 25.8rem 1.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-5-twh {
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          background-color: #000000;
          border-radius: 1.2rem;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 2.4rem;
          height: 2.4rem;
        }
        .ellipse-6-Dj5 {
          border-radius: 1.2rem;
          flex-shrink: 0;
          width: 2.4rem;
          height: 2.4rem;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          background-color: #ffffff;
        }
      }
    }
    .connectors-micro-usb-battery-charge--9cj {
      line-height: 1.5;
      white-space: nowrap;
      align-items: baseline;
      position: absolute;
      top: 79.746rem;
      left: 73.1947rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #f4f4f4;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      width: 51.4rem;
      height: 3.6rem;

      .connectors-micro-usb-battery-charge--9cj-sub-0 {
      }
      .connectors-micro-usb-battery-charge--9cj-sub-1 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .operating-distance-5-meter-591 {
      white-space: nowrap;
      height: 3.6rem;
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #f4f4f4;
      display: flex;
      align-items: baseline;
      width: 34.3rem;
      left: 73.1947rem;
      top: 86.046rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';

      .operating-distance-5-meter-591-sub-0 {
      }
      .operating-distance-5-meter-591-sub-1 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.5;
      }
    }
    .solo-beat-specification-SNs {
      line-height: 1.3333333333;
      left: 44.1rem;
      font-size: 4.8rem;
      font-weight: 600;
      top: 13.6908rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 55.8rem;
      height: 6.4rem;
      position: absolute;
    }
  }
  .exchange-with-your-old-oneand-get-20-flat-discount-8Fh {
    line-height: 1.5;
    color: #333333;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    margin-bottom: 2.8591rem;
    max-width: 77.9rem;
    text-align: center;
    font-size: 5.6rem;
    font-weight: 600;
  }
  .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-Dnw {
    line-height: 1.8;
    color: #333333;
    margin-bottom: 6.3889rem;
    max-width: 103.8rem;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-so7v-e7Z {
    line-height: 1.5;
    color: #ffffff;
    white-space: nowrap;
    background-color: #333333;
    font-size: 2rem;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    width: calc(100% - 124.8rem);
    height: 5.7472rem;
    flex-shrink: 0;
    margin: 0rem 62.4rem 8.931rem 62.4rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
  }
  .auto-group-cdh1-W9m {
    width: 100%;
    height: 101.8rem;
    position: relative;
    background-color: #333333;
    flex-shrink: 0;

    .contact-us-2du {
      left: 65.65rem;
      top: 8.4463rem;
      color: #a1a0a1;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.8;
      white-space: nowrap;
      width: 12.7rem;
      height: 3.6rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
    }
    .auto-group-8pg3-jYK {
      position: absolute;
      left: 8rem;
      top: 73.7339rem;
      display: flex;
      align-items: flex-start;
      width: 125.0451rem;
      height: 18.5215rem;

      .auto-group-fefy-rcw {
        margin-right: 9.2676rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .clean-beats-Cgo {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Autography, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
        }
        .copyright-2023clean-beats-by-awaiken-L2K {
          max-width: 19.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-txrs-qjm {
        margin: 0.1rem 11.472rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-mNX {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.767rem 0.1rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.8;
        }
        .clearbeats-incabc-aptsandy-ut-84091-15471-888-659-8244emaildomainnamecom-HLs {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 21.2rem;
          font-size: 1.6rem;
        }
      }
      .auto-group-acmd-N7R {
        flex-shrink: 0;
        margin-top: 0.393rem;
        display: flex;
        flex-direction: column;

        .auto-group-ng47-ud9 {
          margin: 0rem 0rem 2.745rem 0.009rem;
          width: 55.1rem;
          height: 3.6rem;
          position: relative;
          flex-shrink: 0;

          .home-features-specfication-terms-privacy-policy-cXZ {
            line-height: 2.25;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            font-weight: 400;
            width: 55.1rem;
            height: 3.6rem;
            top: 0;
          }
          .item--JfH {
            height: 3.6rem;
            line-height: 2.25;
            color: #ffffff;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 0.5rem;
            position: absolute;
            left: 6.1118rem;
            top: 0;
          }
          .item--DXM {
            width: 0.5rem;
            position: absolute;
            left: 16.9603rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.25;
            color: #ffffff;
            white-space: nowrap;
            height: 3.6rem;
            top: 0;
            font-family: Poppins, 'Source Sans Pro';
          }
          .item--WWT {
            font-weight: 400;
            line-height: 2.25;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.6rem;
            position: absolute;
            top: 0;
            font-size: 1.6rem;
            width: 0.5rem;
            left: 31.9018rem;
            color: #ffffff;
          }
          .item--pn3 {
            height: 3.6rem;
            font-weight: 400;
            line-height: 2.25;
            white-space: nowrap;
            width: 0.5rem;
            position: absolute;
            left: 40.4518rem;
            top: 0;
            font-size: 1.6rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-LVV {
          margin: 0rem 0rem 3.383rem 0.006rem;
          max-width: 59.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-rajy-ody {
          display: flex;
          column-gap: 1.4rem;
          align-items: center;
          flex-shrink: 0;

          .auto-group-zgyd-9C3 {
            flex-shrink: 0;
            width: 3.6rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-43ys-5rP {
            flex-shrink: 0;
            width: 3.6rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-kqpr-1k3 {
            width: 3.6rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-emus-xfH {
            width: 3.6rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-tsib-hcs {
      display: flex;
      align-items: center;
      width: 60.6694rem;
      height: 3.6rem;
      position: absolute;
      left: 29.8917rem;
      top: 27.2898rem;

      .enter-your-name-dWX {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 28.4694rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2;
        color: #a1a0a1;
      }
      .your-email-address-m6w {
        line-height: 2;
        color: #a1a0a1;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .subject-gjh {
      line-height: 2;
      color: #a1a0a1;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.8rem;
      position: absolute;
      left: 29.8917rem;
      top: 34.2272rem;
      font-size: 1.8rem;
      font-weight: 400;
      height: 3.6rem;
    }
    .how-can-i-help-you-QQo {
      left: 29.8917rem;
      font-size: 1.8rem;
      white-space: nowrap;
      width: 17.9rem;
      height: 3.6rem;
      font-weight: 400;
      line-height: 2;
      color: #a1a0a1;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      top: 40.9254rem;
    }
    .any-questions-send-us-message-Jm5 {
      left: 31.55rem;
      font-size: 4.8rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      font-weight: 600;
      line-height: 1.3333333333;
      white-space: nowrap;
      width: 80.8rem;
      height: 6.4rem;
      position: absolute;
      top: 13.5688rem;
    }
    .auto-group-1htu-oxj {
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      left: 62.5814rem;
      font-weight: 600;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      height: 6.2rem;
      top: 49.401rem;
      box-sizing: border-box;
      position: absolute;
      font-size: 2rem;
      justify-content: center;
      border: solid 0.1rem #ffffff;
      width: 18.8372rem;
      line-height: 1.5;
    }
    .auto-group-qzxu-HN7 {
      left: 29.8917rem;
      top: 31.6279rem;
      border-top: solid 0.1rem #ffffff;
      box-sizing: border-box;
      width: 84.3224rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-2-ykj {
      position: absolute;
      left: 29.8917rem;
      top: 38.4573rem;
      background-color: #ffffff;
      width: 84.3224rem;
      height: 0.1rem;
    }
    .line-3-WVm {
      width: 84.3224rem;
      height: 0.1rem;
      position: absolute;
      left: 29.8917rem;
      top: 45.3168rem;
      background-color: #ffffff;
    }
  }
}
