
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-wWw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-wWw .auto-group-5pou-Z2X {
  margin-bottom: 8.4482rem;
  width: 100%;
  height: 89.6559rem;
  position: relative;
  background-color: #f4f4f4;
  flex-shrink: 0;
}
.home-wWw .auto-group-5pou-Z2X .solo-beats-npP {
  width: 130rem;
  height: 31.8rem;
  position: absolute;
  left: 6.7rem;
  top: 29.3079rem;
  font-size: 21.2rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-5pou-Z2X .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-CdD {
  width: 61.5rem;
  height: 14.4rem;
  position: absolute;
  left: 8.0614rem;
  top: 41.8864rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-5pou-Z2X .rectangle-4-D2X {
  width: 7rem;
  height: 89.6559rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333333;
}
.home-wWw .auto-group-5pou-Z2X .rectangle-13-7dh {
  width: 27.2061rem;
  height: 89.6559rem;
  position: absolute;
  left: 78.2939rem;
  top: 0;
  background-color: #ffffff;
}
.home-wWw .auto-group-5pou-Z2X .highest-qualitywireless-headphone-TSf {
  width: 49.3rem;
  height: 14.4rem;
  position: absolute;
  left: 8.0614rem;
  top: 24.0079rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-5pou-Z2X .buy-now-vLF {
  width: 23.3rem;
  height: 4.2rem;
  position: absolute;
  left: 8.0614rem;
  top: 60.2701rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-5pou-Z2X .clean-beats-bhH {
  width: 23.4rem;
  height: 6.1rem;
  position: absolute;
  left: 8.7114rem;
  top: 1.5511rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Autography, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-5pou-Z2X .follow-us-WZM {
  width: 3.5rem;
  height: 9.8rem;
  position: absolute;
  left: 1.7rem;
  top: 46.0864rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  text-align:end;
}
.home-wWw .auto-group-5pou-Z2X .line-5-bqh {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 3.5rem;
  top: 56.2749rem;
  background-color: #ffffff;
}
.home-wWw .auto-group-5pou-Z2X .logos-facebook-fill-XjM {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 42.1079rem;
  object-fit: contain;
  vertical-align: top;
}
.home-wWw .auto-group-5pou-Z2X .logos-twitter-fill-2w1 {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 38.7079rem;
  object-fit: contain;
  vertical-align: top;
}
.home-wWw .auto-group-5pou-Z2X .logos-pinterest-fill-kMD {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 35.3079rem;
  object-fit: contain;
  vertical-align: top;
}
.home-wWw .auto-group-5pou-Z2X .logos-instagram-fill-TWX {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 31.9079rem;
  object-fit: contain;
  vertical-align: top;
}
.home-wWw .auto-group-5pou-Z2X .logos-linkedin-box-fill-ZpT {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 28.5079rem;
  object-fit: contain;
  vertical-align: top;
}
.home-wWw .auto-group-5pou-Z2X .headphone-1-HEf {
  width: 56.4rem;
  height: 54.4rem;
  position: absolute;
  left: 72.2899rem;
  top: 14.9079rem;
  object-fit: cover;
  vertical-align: top;
}
.home-wWw .auto-group-5pou-Z2X .bar-1-QKH {
  width: 4.8rem;
  height: 1.1rem;
  position: absolute;
  left: 128.6899rem;
  top: 4.6902rem;
  object-fit: cover;
  vertical-align: top;
}
.home-wWw .latest-features-Kh9 {
  margin-right: 111.5576rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 {
  box-sizing: border-box;
  padding: 1.217rem 8.1rem 13.445rem 8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-7mcb-ASs {
  margin: 0rem 0rem 5.834rem 0.021rem;
  width: calc(100% - 0.0212rem);
  height: 12.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-7mcb-ASs .design-and-built-with-latest-trending-future-technology-sMH {
  margin-right: 17.8788rem;
  max-width: 88.4rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-7mcb-ASs .auto-group-5bwo-ZV1 {
  margin: 2.331rem 0rem 3.269rem 0rem;
  width: 21.6rem;
  height: calc(100% - 5.6rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #333333;
  box-sizing: border-box;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B {
  margin: 0rem 0.602rem 4.391rem 0rem;
  height: 20.7142rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-3-WHm {
  margin-right: 2.9117rem;
  width: 40.5984rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-3-WHm .wireless-connection-r6j {
  margin-bottom: 2.8471rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-3-WHm .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-wdy {
  margin: 0rem 0rem 2.267rem 0.098rem;
  max-width: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-3-WHm .auto-group-dkcx-yqZ {
  margin: 0rem 28.7rem 0rem 0.098rem;
  width: calc(100% - 28.7984rem);
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-3-WHm .auto-group-dkcx-yqZ .learn-more-Wab {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-3-WHm .auto-group-dkcx-yqZ .systems-arrow-right-line-k7Z {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-2-fVR {
  margin-right: 2.5915rem;
  width: 40.5984rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-2-fVR .qualitative-sound-oLj {
  margin-bottom: 2.8471rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-2-fVR .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-Kps {
  margin: 0rem 0rem 2.267rem 0.098rem;
  max-width: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-2-fVR .auto-group-qdxd-kQP {
  margin: 0rem 28.7rem 0rem 0.098rem;
  width: calc(100% - 28.7984rem);
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-2-fVR .auto-group-qdxd-kQP .learn-more-sV1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-2-fVR .auto-group-qdxd-kQP .systems-arrow-right-line-odZ {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-1-XJf {
  width: 40.5984rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-1-XJf .beautiful-and-modern-design-Gn3 {
  margin-bottom: 2.8471rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-1-XJf .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-oX5 {
  margin: 0rem 0rem 2.267rem 0.098rem;
  max-width: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-1-XJf .auto-group-vy8p-EcP {
  margin: 0rem 28.7rem 0rem 0.098rem;
  width: calc(100% - 28.7984rem);
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-1-XJf .auto-group-vy8p-EcP .learn-more-xHV {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-sjrk-C2B .group-1-XJf .auto-group-vy8p-EcP .systems-arrow-right-line-VoD {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm {
  margin-right: 0.6016rem;
  height: 20.7142rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-4-yTV {
  margin-right: 2.9117rem;
  width: 40.5984rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-4-yTV .high-end-sound-ify {
  margin-bottom: 2.8471rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-4-yTV .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-Ffu {
  margin: 0rem 0rem 2.267rem 0.098rem;
  max-width: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-4-yTV .auto-group-fgco-KQs {
  margin: 0rem 28.7rem 0rem 0.098rem;
  width: calc(100% - 28.7984rem);
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-4-yTV .auto-group-fgco-KQs .learn-more-3rf {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-4-yTV .auto-group-fgco-KQs .systems-arrow-right-line-o59 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-5-ihu {
  margin-right: 2.5915rem;
  width: 40.5984rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-5-ihu .bluetooth-fd9 {
  margin-bottom: 2.8471rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-5-ihu .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-ojM {
  margin: 0rem 0rem 2.267rem 0.098rem;
  max-width: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-5-ihu .auto-group-fzhh-TJ7 {
  margin: 0rem 28.7rem 0rem 0.098rem;
  width: calc(100% - 28.7984rem);
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-5-ihu .auto-group-fzhh-TJ7 .learn-more-Bju {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-5-ihu .auto-group-fzhh-TJ7 .systems-arrow-right-line-89M {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-6-TBd {
  width: 40.5984rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-6-TBd .waterproof-dust-tight-QMm {
  margin-bottom: 2.8471rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-6-TBd .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-YD5 {
  margin: 0rem 0rem 2.267rem 0.098rem;
  max-width: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-6-TBd .auto-group-tbuh-16f {
  margin: 0rem 28.7rem 0rem 0.098rem;
  width: calc(100% - 28.7984rem);
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-6-TBd .auto-group-tbuh-16f .learn-more-vzK {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-bqyb-3t3 .auto-group-ncp9-Rwm .group-6-TBd .auto-group-tbuh-16f .systems-arrow-right-line-gCo {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR {
  margin-bottom: 8.5302rem;
  width: 100%;
  height: 100.8rem;
  position: relative;
  background-color: #333333;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .view-specification-XDR {
  width: 19.7rem;
  height: 3.6rem;
  position: absolute;
  left: 62.7541rem;
  top: 8.5684rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #a1a0a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-utwv-oHR .name-solo-beat-ab12hb-Drw {
  width: 29.8rem;
  height: 3.6rem;
  position: absolute;
  left: 73.1947rem;
  top: 29.346rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .name-solo-beat-ab12hb-Drw .name-solo-beat-ab12hb-Drw-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .name-solo-beat-ab12hb-Drw .name-solo-beat-ab12hb-Drw-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo {
  width: 106.6106rem;
  height: 41.4rem;
  position: absolute;
  left: 7.4894rem;
  top: 35.646rem;
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .specification-1-ejH {
  margin: 0.1rem 12.305rem 0rem 0rem;
  width: 53.4rem;
  height: 36.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u {
  width: 33.7053rem;
  height: 100%;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 {
  box-sizing: border-box;
  padding-bottom: 2.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .weight-231-g-dr7 {
  margin-bottom: 2.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .weight-231-g-dr7 .weight-231-g-dr7-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .weight-231-g-dr7 .weight-231-g-dr7-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .weight-231-g-dr7 .weight-231-g-dr7-sub-2 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .weight-231-g-dr7 .weight-231-g-dr7-sub-3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .height-72-cm-Jqm {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .height-72-cm-Jqm .height-72-cm-Jqm-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .height-72-cm-Jqm .height-72-cm-Jqm-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .height-72-cm-Jqm .height-72-cm-Jqm-sub-2 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-r7a7-VV1 .height-72-cm-Jqm .height-72-cm-Jqm-sub-3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .available-color--bTV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .available-color--bTV .available-color--bTV-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .available-color--bTV .available-color--bTV-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .available-color--bTV .available-color--bTV-sub-2 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .auto-group-4r8p-zVd {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 0.405rem;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .auto-group-4r8p-zVd .ellipse-1-gtF {
  width: 2.4rem;
  height: 2.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #a53c43;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .auto-group-4r8p-zVd .ellipse-2-oxs {
  width: 2.4rem;
  height: 2.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #192861;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .auto-group-4r8p-zVd .ellipse-3-919 {
  width: 2.4rem;
  height: 2.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #c58a84;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .auto-group-blvj-FPd .auto-group-4r8p-zVd .ellipse-4-4to {
  width: 2.4rem;
  height: 2.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ecc305;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .type-wireless-bluetooth-CVD {
  margin-bottom: 2.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .type-wireless-bluetooth-CVD .type-wireless-bluetooth-CVD-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .type-wireless-bluetooth-CVD .type-wireless-bluetooth-CVD-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .battery-life-2-hour-AaT {
  margin-bottom: 2.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .battery-life-2-hour-AaT .battery-life-2-hour-AaT-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .battery-life-2-hour-AaT .battery-life-2-hour-AaT-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .battery-100amh-ATy {
  margin-bottom: 2.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .battery-100amh-ATy .battery-100amh-ATy-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .battery-100amh-ATy .battery-100amh-ATy-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .dimensions-21-x-4-x-27-cm-mCs {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .dimensions-21-x-4-x-27-cm-mCs .dimensions-21-x-4-x-27-cm-mCs-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-f6wb-M7u .dimensions-21-x-4-x-27-cm-mCs .dimensions-21-x-4-x-27-cm-mCs-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-dik1-NCf {
  box-sizing: border-box;
  padding: 13.2rem 0rem 25.8rem 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-dik1-NCf .ellipse-5-twh {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .auto-group-hgby-LCo .auto-group-dik1-NCf .ellipse-6-Dj5 {
  width: 2.4rem;
  height: 2.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-wWw .auto-group-utwv-oHR .connectors-micro-usb-battery-charge--9cj {
  width: 51.4rem;
  height: 3.6rem;
  position: absolute;
  left: 73.1947rem;
  top: 79.746rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .connectors-micro-usb-battery-charge--9cj .connectors-micro-usb-battery-charge--9cj-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .connectors-micro-usb-battery-charge--9cj .connectors-micro-usb-battery-charge--9cj-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .operating-distance-5-meter-591 {
  width: 34.3rem;
  height: 3.6rem;
  position: absolute;
  left: 73.1947rem;
  top: 86.046rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home-wWw .auto-group-utwv-oHR .operating-distance-5-meter-591 .operating-distance-5-meter-591-sub-0 {
}
.home-wWw .auto-group-utwv-oHR .operating-distance-5-meter-591 .operating-distance-5-meter-591-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.home-wWw .auto-group-utwv-oHR .solo-beat-specification-SNs {
  width: 55.8rem;
  height: 6.4rem;
  position: absolute;
  left: 44.1rem;
  top: 13.6908rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .exchange-with-your-old-oneand-get-20-flat-discount-8Fh {
  margin-bottom: 2.8591rem;
  max-width: 77.9rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-wWw .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-Dnw {
  margin-bottom: 6.3889rem;
  max-width: 103.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-wWw .auto-group-so7v-e7Z {
  margin: 0rem 62.4rem 8.931rem 62.4rem;
  width: calc(100% - 124.8rem);
  height: 5.7472rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m {
  width: 100%;
  height: 101.8rem;
  position: relative;
  background-color: #333333;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .contact-us-2du {
  width: 12.7rem;
  height: 3.6rem;
  position: absolute;
  left: 65.65rem;
  top: 8.4463rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #a1a0a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK {
  width: 125.0451rem;
  height: 18.5215rem;
  position: absolute;
  left: 8rem;
  top: 73.7339rem;
  display: flex;
  align-items: flex-start;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-fefy-rcw {
  margin-right: 9.2676rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-fefy-rcw .clean-beats-Cgo {
  margin-bottom: 3.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Autography;
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-fefy-rcw .copyright-2023clean-beats-by-awaiken-L2K {
  max-width: 19.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-txrs-qjm {
  margin: 0.1rem 11.472rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-txrs-qjm .contact-mNX {
  margin: 0rem 0rem 1.767rem 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-txrs-qjm .clearbeats-incabc-aptsandy-ut-84091-15471-888-659-8244emaildomainnamecom-HLs {
  max-width: 21.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R {
  margin-top: 0.393rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-ng47-ud9 {
  margin: 0rem 0rem 2.745rem 0.009rem;
  width: 55.1rem;
  height: 3.6rem;
  position: relative;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-ng47-ud9 .home-features-specfication-terms-privacy-policy-cXZ {
  width: 55.1rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-ng47-ud9 .item--JfH {
  width: 0.5rem;
  height: 3.6rem;
  position: absolute;
  left: 6.1118rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-ng47-ud9 .item--DXM {
  width: 0.5rem;
  height: 3.6rem;
  position: absolute;
  left: 16.9603rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-ng47-ud9 .item--WWT {
  width: 0.5rem;
  height: 3.6rem;
  position: absolute;
  left: 31.9018rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-ng47-ud9 .item--pn3 {
  width: 0.5rem;
  height: 3.6rem;
  position: absolute;
  left: 40.4518rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-LVV {
  margin: 0rem 0rem 3.383rem 0.006rem;
  max-width: 59.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-rajy-ody {
  display: flex;
  column-gap: 1.4rem;
  align-items: center;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-rajy-ody .auto-group-zgyd-9C3 {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-rajy-ody .auto-group-43ys-5rP {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-rajy-ody .auto-group-kqpr-1k3 {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-8pg3-jYK .auto-group-acmd-N7R .auto-group-rajy-ody .auto-group-emus-xfH {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-tsib-hcs {
  width: 60.6694rem;
  height: 3.6rem;
  position: absolute;
  left: 29.8917rem;
  top: 27.2898rem;
  display: flex;
  align-items: center;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-tsib-hcs .enter-your-name-dWX {
  margin-right: 28.4694rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2;
  color: #a1a0a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-tsib-hcs .your-email-address-m6w {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2;
  color: #a1a0a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-wWw .auto-group-cdh1-W9m .subject-gjh {
  width: 6.8rem;
  height: 3.6rem;
  position: absolute;
  left: 29.8917rem;
  top: 34.2272rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2;
  color: #a1a0a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .how-can-i-help-you-QQo {
  width: 17.9rem;
  height: 3.6rem;
  position: absolute;
  left: 29.8917rem;
  top: 40.9254rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2;
  color: #a1a0a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .any-questions-send-us-message-Jm5 {
  width: 80.8rem;
  height: 6.4rem;
  position: absolute;
  left: 31.55rem;
  top: 13.5688rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-1htu-oxj {
  width: 18.8372rem;
  height: 6.2rem;
  position: absolute;
  left: 62.5814rem;
  top: 49.401rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-wWw .auto-group-cdh1-W9m .auto-group-qzxu-HN7 {
  width: 84.3224rem;
  height: 0.1rem;
  position: absolute;
  left: 29.8917rem;
  top: 31.6279rem;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-wWw .auto-group-cdh1-W9m .line-2-ykj {
  width: 84.3224rem;
  height: 0.1rem;
  position: absolute;
  left: 29.8917rem;
  top: 38.4573rem;
  background-color: #ffffff;
}
.home-wWw .auto-group-cdh1-W9m .line-3-WVm {
  width: 84.3224rem;
  height: 0.1rem;
  position: absolute;
  left: 29.8917rem;
  top: 45.3168rem;
  background-color: #ffffff;
}
